*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
/*====ПОДКЛЮЧАЕМ ИКОНОЧНЫЙ ШРИФТ===*/
@font-face {
  font-family: 'facebook';
  src: url('font/facebook.eot?43534000');
  src: url('font/facebook.eot?43534000#iefix') format('embedded-opentype'),
       url('font/facebook.woff2?43534000') format('woff2'),
       url('font/facebook.woff?43534000') format('woff'),
       url('font/facebook.ttf?43534000') format('truetype'),
       url('font/facebook.svg?43534000#facebook') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'facebook';
    src: url('../font/facebook.svg?74995734#facebook') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "facebook";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.5em;
  margin-right: .5em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 2em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .5em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */ 

/*==================================*/

body{
    font-family: 'Raleway', sans-serif;
}
.layout_positioner{
    width: 1170px;
    margin: 0 auto;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.wrapper{
    width: 100%;
}
/*=======================HEADER=======================================*/
.header_menu_main{
    margin-bottom: 10%;
    border-bottom: 2px solid #4E5066;
}
.header_main{
    background: #000 url(img/bg_header.png) no-repeat left top;
    margin-bottom: 10px;
    width: 100%;
    background-size: cover;
}
.logo{
    float: left;
    line-height: 100px;
}
.header_menu{
    width: 59%;
    float: right;
    font-size: 0;
}
.header_menu li{
    display: inline-block; 
}

.header_menu li a{
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px 0 40px 65px;
    text-align: right;
}
.header_menu li a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.header_title h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}
.header_title p{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}
button{
    display: block;
    width: 200px;
    background: #FF4343;
    text-align: center;
    margin: 0 auto 150px auto;
    border-radius: 4px;
    border: none;
    padding: 15px 0 15px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
button:hover{
    text-decoration: underline;
    color: rgba(255,255,255,.8);
}
/*=======================CONTENT_POST=======================================*/
.content_post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0 100px 0;
}
.post{
    width: 30%;
    margin-bottom: 100px;
}
.post i{
    text-align: center;
    margin: 0 auto 9% auto;
}
.post_end{
    margin-bottom: 0;
}
.sprite {
    background-image: url(img/sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_1 {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
}

.sprite-icon_2 {
    width: 73px;
    height: 60px;
    background-position: -75px -5px;
}

.sprite-icon_3 {
    width: 41px;
    height: 60px;
    background-position: -5px -75px;
}

.sprite-icon_4 {
    width: 56px;
    height: 60px;
    background-position: -56px -75px;
}

.sprite-icon_5 {
    width: 72px;
    height: 60px;
    background-position: -158px -5px;
}

.sprite-icon_6 {
    width: 79px;
    height: 60px;
    background-position: -122px -75px;
}

.content_post .post h2{
    text-align: center;
    margin-bottom: 20px;
    color: #2d3033;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.post p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    text-align: justify;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}
/*=======================CONTENT_PICT=======================================*/
.content_pict{
    max-width: 100%;
    margin: 0 auto;
}
.pict{
    position: relative;
    width: 24.74%;
    float: left;
    margin-right: 0.26%;
    margin-top: 0.26%;
}
.pict a{
    display: block;
    height: 350px;
}
.pict_img{
    width: 100%;
    height: 350px;
}
.pict_active{
    display: none;
    width: 100%;
    height: 350px;
    background: #db4544;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}
.pict_active h3{
    font-family: 'Raleway', sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 150px 0 10px 0;
    font-weight: bold;
    text-align: center;
}
.pict_active p{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.pict:hover .pict_active{
    display: block;
}

/*=======================FOOTER_MAIN=======================================*/
.footer_social{
    background: #3a3e64;
    min-height: 250px;
}
.footer_copy{
    background: #313454;
}
.footer_block{
    width: 100%;
    display: flex;
}
.footer_block > div{
    width: 33%;
    justify-content: space-between;
}
.footer_block h2{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 14px;
}
.footer_block p{
    width: 53%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20%;
    color: #6E728C;
    font-weight: 600;
}
.footer_block p.block_size{
    width: 80%;
    text-align: center;
}
.social_icon{
    width: 50%;
    margin: 0px auto;
}
.social_icon a{
    display: inline-block;
    color: #fff;
    border: 4px solid #fff;
    width: 55px;
    height: 55px;
    line-height: 50px;
    font-size: 20px;
    margin-right: 5px;
}
.social_icon a:hover{
    opacity: 0.5;
}
.copy{
    font-size: 14px;
    color: #808080;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.copy i{
    color: #e84545;
}
.copy span{
    color: #fff;
}
/*===============TEAM_PROECT=================*/
.team_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}
.team_info{
    width: 23%;
}
.team_info h2{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #2d3033;
    margin-top: 20px;
    font-weight: 400;
}
.team_info h3{
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 15px 0 25px 0;
    display: block;
}
.team_info p{
    color: #6c7279;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 35px;
}
a.icon_social_team{
    display: inline-block;
    font-size: 25px;
}
a.icon_social_team>i::before{
    border: 2px solid #E8ECEE;
    width: 55px;
    height: 55px;
    color: #C6CACC;
    margin: 0;
    line-height: 55px;
}
a.icon_social_team>i:hover{
  opacity: 0.6;
}
/*==========================Дополнительный блок========================*/
section{
    display: block;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container:before{
    display: table;
    content: " ";
  }

  .container:after{
    display: table;
    content: " ";
    clear:both;
  }

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }